/**
 * Asides
 */

//
// Utility Block Mods
// -----------------------------

// Reduce spacing for u-block inside aside
aside .u-block {
    padding: $typographySpacing $blockSpacingSmall;

    @include media(">s") {
        padding-top: $typographySpacing;
        padding-bottom: $typographySpacing;
    }
}

// Remove right padding on u-block--white
@include media(">s") {
    aside .u-block--white {
        padding-right: 0;
    }
}

// Reduce top spacing if first child is u-block--white
aside .u-block--white:first-child {
    padding-top: $typographySpacing/2;
}
