//
// Block direct descendants
// -----------------------------

// Set width of elements inside main
main > *:not(.u-block),
.u-block > * {
    max-width: #{map-get($breakpoints, s) + $spacingMedium * 2};
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacingMedium;
    padding-right: $spacingMedium;
}

//
// Utility Block
// -----------------------------

.u-block {
    padding-top: $spacingMedium;
    padding-bottom: $spacingMedium;
    background: #f3f3f3;
}

// Add margin if first elememt after u-block has a class
.u-block + :not(div[class]),
:not(div[class]) + .u-block {
    margin-top: $spacingMedium;
}
