//
// CSS Grid Styles
// -----------------------------

.u-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: $spacingMedium;
    margin-top: $spacingMedium;
    margin-bottom: $spacingMedium;

    &:last-child {
        margin-bottom: 0;
    }
}

// Remove margin when grid is first child of u-block
.u-block > .u-grid:first-child {
    margin-top: 0;
}

.u-grid--2 {
    grid-template-columns: repeat(2, 1fr);
}

@include media(">s") {
    .u-grid--3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include media(">s") {
    .u-grid--4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Stack grid items for mobile
@include media("<=s") {
    .u-grid--mobile2col {
        grid-template-columns: repeat(2, 1fr);
    }
}
