/**
 * Utility Classes
 */

//
// Text Helpers
// -----------------------------

.u-center-text {
    position: relative;
    text-align: center;
    padding-bottom: $typographySpacing;
    margin-bottom: $blockSpacingLarge;

    &:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 1px;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: $grey;
    }
}

//
// Accessibility Helpers
// -----------------------------

.u-visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    a:focus,
    input:focus,
    button:focus {
        position: static;
        width: auto;
        height: auto;
    }
}
