/**
 * Global Variables
 */

//
// Breakpoints
// -----------------------------

$breakpoints: (
    s: 768px,
    l: 1024px,
);

//
// Spacing
// -----------------------------

$typographySpacing: 20px;
$blockSpacingSmall: 30px;
$blockSpacingLarge: 45px;

$gridSpacing: 30px;

//
// Fonts
// -----------------------------

$fontFamily: -apple-system, "blinkmacsystemfont", "Segoe UI", "Roboto",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

//
// Colors
// -----------------------------

// Base Black/Grey
$black: #222222;
$grey: #c9c9c9;

// Dark Greys
$greyDarkest: #4c4c4c;
$greyDarker: #838383;
$greyDark: #a7a6a5;

// Light Greys
$greyLight: #dfdfdf;
$greyLighter: #efefef;
$greyLightest: #f3f3f3;

// Blues
$primary: #146e50;
$secondary: #683f18;

//
// Others
// -----------------------------

$transition2: all 0.2s ease-out;

//
// Social Media
// @see https://www.lockedownseo.com/social-media-colors/
// -----------------------------

$facebook: #1877f2;
$twitter: #1da1f2;
$youtube: #ff0000;
$instagram: #c32aa3;
$pinterest: #bd081c;
$linkedin: #007bb5;
$reddit: #ff4500;
